In [1]:
import pandas as pd
import glob
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\spart\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
train_files = glob.glob("./*.json")

In [3]:
df_train = pd.DataFrame()
for count,ele in enumerate(train_files,len(train_files)):
    df_train = pd.concat([df_train, pd.read_json(ele)])

df_train.to_csv("df_train.csv",index=False)

In [4]:
df_train.head()

,created_at,id,text
0,2021-11-25 17:11:10+00:00,1463918194402504706,I honestly firmly believe that the unvaccinate...
1,2021-11-25 17:11:10+00:00,1463918194410897427,@ollysmithtravel @AlistairHaimes @chrischirp P...
2,2021-11-25 17:11:11+00:00,1463918197913042947,@BorisJohnson Yet your govt's own Info for Hea...
3,2021-11-25 17:11:15+00:00,1463918214556094465,If covid rates go up it’s cos of all these peo...
4,2021-11-25 17:11:17+00:00,1463918222978256896,Shots of Pfizer's pediatric COVID vaccine have...

In [5]:
df_train['text'] = df_train['text'].str.lower()

In [6]:
pat = r'\b(?:{})\b'.format('|'.join(stop))
df_train['text_nsw'] = df_train['text'].str.replace(pat, '')
df_train['text_nsw'] = df_train['text_nsw'].str.replace(r'\s+', ' ')

In [7]:
df_train.head()

,created_at,id,text,text_nsw
0,2021-11-25 17:11:10+00:00,1463918194402504706,i honestly firmly believe that the unvaccinate...,honestly firmly believe unvaccinated foot bil...
1,2021-11-25 17:11:10+00:00,1463918194410897427,@ollysmithtravel @alistairhaimes @chrischirp p...,@ollysmithtravel @alistairhaimes @chrischirp p...
2,2021-11-25 17:11:11+00:00,1463918197913042947,@borisjohnson yet your govt's own info for hea...,@borisjohnson yet govt' info healthcare profes...
3,2021-11-25 17:11:15+00:00,1463918214556094465,if covid rates go up it’s cos of all these peo...,covid rates go ’ cos people coming country bo...
4,2021-11-25 17:11:17+00:00,1463918222978256896,shots of pfizer's pediatric covid vaccine have...,shots pfizer' pediatric covid vaccine started ...

In [9]:
df_train.to_csv('collected_tweets.csv')